

:root {
    --bg-color: bisque;
    --text-dark: #551616;
    --text-light: #713333;
    --text-white: #f7ebe1;
    --bg-dark: rgb(129, 66, 23);
}


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: bisque;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    width: 100%;
    height: 10%;
    background-color: var(--bg-dark);
}

main {
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
}

.text-dialog-box {
    /* background-color: darkcyan; */
    width: 60rem;
    height: fit-content;
    display: flex;
    gap: 3rem;
    position: relative;
}


.text-dialog-box .profile {
    /* height: 25%; */
    width: 5rem;
    text-align: center;
    font-size: 0.75rem;
    color: var(--text-light);
    /* background-color: aquamarine; */
}

.text-dialog-box .profile .profile-img {
    height: 5rem;
    width: 5rem;
    background-color: var(--bg-dark);
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 0.4rem;
}

.text-dialog-box .profile .profile-img img {
    height: 100%;
    width: 100%;
}

.text-dialog-box .dialog {
    background-color: var(--bg-dark);
    position: relative;
    padding: 1rem 1.75rem;
    border-radius: 12px;
    color: var(--text-white);
    font-size: 1.1rem;
    flex: 1;
    line-height: 1.5;
}

/* .text-dialog-box .dialog::before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: -40px;
    right: auto;
    top: 25px;
    bottom: auto;
    border: 20px solid;
    border-color: #551616 #551616 pink blue;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
} */

.text-dialog-box .dialog::before {
    content: '';
	position: absolute;
	left: 0;
	top: 15%;
	width: 0;
	height: 0;
	border: 40px solid transparent;
	border-right-color: var(--bg-dark);
	border-left: 0;
	border-top: 0;
    /* border-radius: 8px; */
	margin-top: -20px;
	margin-left: -40px;
}

.text-dialog-box.intro-text .dialog::before {
    top: 25%;
}

/* .text-dialog-box#quest-box {
    min-height: 12rem;
    /* min-width: 60rem; 
} */

#quest-box .dialog .dialog-title {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
}

#quest-box .dialog .quest-info {
    line-height: 1.8;
    font-weight: 600;
    /* letter-spacing: 1px; */
}

#quest-box .dialog .quest-info span {
    font-weight: 400;
}

#quest-box .gen-btn {
    width: 50%;
    /* background-color: aquamarine; */
    margin: 0 auto;
    margin-top: 2rem;
    text-align: center;
}

#quest-box .gen-btn button {
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    border: none;
    outline: none;
    background-color: var(--text-dark);
    color: var(--text-white);
    border-radius: 1rem;
}